---
const { title, id } = Astro.props
---

<div class="nes-container is-dark is-rounded m-0" id={id} style={id !== 'start'? 'display:none' : ''} >
  {title && <h2 class="mb-4 text-2xl md:text-3xl">{title}</h2>}
  <div class="mt-8">
    <slot />
  </div>
</div>
