---
const { title, url } = Astro.props
---

<a class="flex-1" href={`${url}`} target='_blank'>
<button class="w-full nes-btn is-warning text-ellipsis">
  <i class="nes-jp-logo"></i>
  <div>{title}</div>
</button>
</a>
