---
---

<style>

.pos-rel {
  position: relative;
}


#wrapper {
  width: 100%;
  min-width: 320px;
  height: 300px;
}

#nav {
  position: absolute;
  z-index: 100;
  bottom: 8px;
  width: 200px;
  height: 20px;
  left: 50%;
  background: rgba(0, 0, 0, 0.75);
  padding: 0;
  margin: 0 0 0 -100px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

#nav li {
  display: block;
  float: left;
  width: 14px;
  height: 14px;
  line-height: 14px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  padding: 0;
  margin: 3px 11px 0 0;
  text-align: center;
}

#nav li#prev {
  margin-left: 5px;
  background: transparent;
}

#nav li#next {
  margin-right: 0;
  background: transparent;
}

#nav li.selected {
  background: rgba(255, 255, 255, 0.4);
}

#swipeview-slider > div {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  -o-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  -mox-box-align: center;
  -ms-box-align: center;
  -o-box-align: center;
  box-align: center;
  overflow: hidden;
}

#swipeview-slider img {
  display: block;
  border: 5px solid #eee;
  -webkit-box-shadow: 0 2px 6px #000;
  -moz-box-shadow: 0 2px 6px #000;
  -ms-box-shadow: 0 2px 6px #000;
  -o-box-shadow: 0 2px 6px #000;
  box-shadow: 0 2px 6px #000;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition-duration: .4s;
  -moz-transition-duration: .4s;
  -ms-transition-duration: .4s;
  -o-transition-duration: .4s;
  transition-duration: .4s;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -ms-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  opacity: 1;
  pointer-events: none;
}

#swipeview-slider span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  display: block;
  background: rgba(0, 0, 0, 0.75);
  font-size: 20px;
  text-align: center;
  text-shadow: 0 1px 0 #000;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-border-top-left-radius: 10px;
  -moz-border-top-left-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -o-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-right-radius: 10px;
  -ms-border-top-right-radius: 10px;
  -o-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-transition-duration: .3s;
  -moz-transition-duration: .3s;
  -ms-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -ms-transition-property: -ms-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  -webkit-transform: translate(0, 100%) translateZ(0);
  -moz-transform: translate(0, 100%) translateZ(0);
  -ms-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%) translateZ(0);
  -o-transform: translate(0, 100%);
  -o-transform: translate(0, 100%) translateZ(0);
  transform: translate(0, 100%) translateZ(0);
}

#swipeview-slider .swipeview-active span {
  -webkit-transform: translate(0, 0) translateZ(0);
  -moz-transform: translate(0, 0) translateZ(0);
  -ms-transform: translate(0, 0);
  -ms-transform: translate(0, 0) translateZ(0);
  -o-transform: translate(0, 0);
  -o-transform: translate(0, 0) translateZ(0);
  transform: translate(0, 0) translateZ(0);
}

#wrapper > div > .swipeview-loading {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444), to(#555)),
  -webkit-gradient(linear, 0 0, 100% 0, from(#777), to(#777));
  background-position: 50% 50%, 50% 50%;
  background-size: 200px 140px, 210px 150px;
  background-repeat: no-repeat;
}

#wrapper > div > .swipeview-loading img,
#swipeview-slider img.loading {
  -webkit-transition-duration: 0s;
  opacity: 0;
}

#wrapper > div > .swipeview-loading span {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-transform: translate(0, 100%) translateZ(0);
  -moz-transform: translate(0, 100%) translateZ(0);
  -ms-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%) translateZ(0);
  -o-transform: translate(0, 100%);
  -o-transform: translate(0, 100%) translateZ(0);
  transform: translate(0, 100%) translateZ(0);
}
</style>
<div class='pos-rel'>
  <div id='wrapper'></div>
  <ul id='nav'>
    <li id='prev'>-</li>
    <li class='dot selected'></li>
    <li class='dot'></li>
    <li class='dot'></li>
    <li class='dot'></li>
    <li class='dot'></li>
    <li class='dot'></li>
    <li id='next'>+</li>
  </ul>
</div>


<script type='text/javascript'>

setTimeout(() => {
  $('#prev').on('click', (event) => {
    event.preventDefault();
    gallery.prev();
  });
  $('#next').on('click', (event) => {
    event.preventDefault();
    gallery.next();
  });
  $('li.dot').on('click', (event) => {
    event.preventDefault();
    const $curTarget = $(event.currentTarget);
    const index = $curTarget.index() - 1;
    gallery.goToPage(index);
  });
  $(document).on('touchmove', (event) => {
    event.preventDefault();
    return false;
  });
  var gallery,
    el,
    i,
    page,
    dots = document.querySelectorAll('#nav li'),
    slides = [
      {
        img: 'images/pic01.jpg',
        width: 300,
        height: 213,
        desc: 'Piazza del Duomo, Florence, Italy'
      },
      {
        img: 'images/pic02.jpg',
        width: 300,
        height: 164,
        desc: 'Tuscan Landscape'
      },
      {
        img: 'images/pic03.jpg',
        width: 300,
        height: 213,
        desc: 'Colosseo, Rome, Italy'
      },
      {
        img: 'images/pic04.jpg',
        width: 147,
        height: 220,
        desc: 'Somewhere near Chinatown, San Francisco'
      },
      {
        img: 'images/pic05.jpg',
        width: 300,
        height: 213,
        desc: 'Medieval guard tower, Asciano, Siena, Italy'
      },
      {
        img: 'images/pic06.jpg',
        width: 165,
        height: 220,
        desc: 'Leaning tower, Pisa, Italy'
      }
    ];

  gallery = new window.SwipeView('#wrapper', { numberOfPages: slides.length });

// Load initial data
  for (i = 0; i < 3; i++) {
    page = i === 0 ? slides.length - 1 : i - 1;
    el = document.createElement('img');
    el.className = 'loading';
    el.src = slides[page].img;
    el.width = slides[page].width;
    el.height = slides[page].height;
    el.onload = function() {
      this.className = '';
    };
    gallery.masterPages[i].appendChild(el);

    el = document.createElement('span');
    el.innerHTML = slides[page].desc;
    gallery.masterPages[i].appendChild(el);
  }

  gallery.onFlip(function() {
    var el,
      upcoming,
      i;

    for (i = 0; i < 3; i++) {
      upcoming = gallery.masterPages[i].dataset.upcomingPageIndex;

      if (upcoming !== gallery.masterPages[i].dataset.pageIndex) {
        el = gallery.masterPages[i].querySelector('img');
        el.className = 'loading';
        el.src = slides[upcoming].img;
        el.width = slides[upcoming].width;
        el.height = slides[upcoming].height;

        el = gallery.masterPages[i].querySelector('span');
        el.innerHTML = slides[upcoming].desc;
      }
    }
    $(dots).filter('li.dot').removeClass('selected');
    $(dots[gallery.pageIndex + 1]).addClass('selected');
  });

  gallery.onMoveOut(function() {
    gallery.masterPages[gallery.currentMasterPage].className =
      gallery.masterPages[gallery.currentMasterPage].className.replace(/(^|\s)swipeview-active(\s|$)/, '');
  });

  gallery.onMoveIn(function() {
    var className = gallery.masterPages[gallery.currentMasterPage].className;
    /(^|\s)swipeview-active(\s|$)/.test(className) || (gallery.masterPages[gallery.currentMasterPage].className =
      !className ? 'swipeview-active' : className + ' swipeview-active');
  });

}, 1000);

</script>
